
body {
  font-family: "Inter", sans-serif;
  background: #c0d1eb;
  margin: 0;
  padding: 0;
}
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 900px;
  background:black;
  padding: 1rem;
  border-radius: 12px 12px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

}
.navbar-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.logo {
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}
.nav-buttons button {
  margin: 0 5px;
  padding: 5px 12px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
.nav-buttons .active {
  background: #0ea5e9;
  color: white;
}
.search-box {
  position: relative;
}
.search-box input {
  padding: 8px 30px 8px 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
}
.search-box .search-icon {
  position: absolute;
  right: 10px;
  top: 7px;
}


.main {
  width: 100%;
  max-width: 900px;
  background: white;
  padding: 1rem;
  border-radius: 0 0 12px 12px;
}
.page {
  text-align: center;
}
.subtitle {
  text-align: center;
  color: gray;
}
.user-id {
  text-align: center;
  color: #777;
  font-size: 0.8rem;
}

.btn-add {
  display: block;
  margin: 10px auto;
  padding: 8px 16px;
  background: #0ea5e9;
  color: white;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
.btn-save {
  background: green;
  color: white;
}
.btn-cancel {
  background: #ccc;
}

.form-container {
  background: #f9fafb;
  padding: 1rem;
  border-radius: 8px;
}
.form-container input,
.form-container textarea {
  width: 100%;
  margin: 5px 0;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
.form-actions {
  display: flex;
  gap: 1rem;
}
.error {
  color: red;
  font-size: 0.8rem;
}
.link-card {
  border: 2px solid #ddd;
  padding: 1rem;
  margin: 10px 0;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}
.link-info a {
  font-weight: bold;
  color: #0ea5e9;
  text-decoration: none;
}
.link-info p {
  color: gray;
}
.link-actions button {
  margin-left: 5px;
  padding: 5px 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.link-actions .delete {
  background: red;
  color: white;

}
.footer {
  width: 100%;
  background: black;
  color: white;
  padding: 1.5rem;
  text-align: center;
  border-radius: 0 0 12px 12px;
}

.footer p {
  margin: 5px 0;
}

.footer a {
  color: #0ea5e9;
  text-decoration: none;
  font-weight: bold;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-contact,
.footer-social {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}
.feedback {
  margin: 1rem auto;
  padding: 10px;
  width: fit-content;
  border-radius: 8px;
  background: #f0fdf4;
  color: #166534;
  font-weight: bold;
}

.feedback.error {
  background: #fef2f2;
  color: #991b1b;
}

